<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Text&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet" />
    <link href="{{ url_for( 'static',filename='viewcomplaint.css' ) }}" rel="stylesheet" />


    <title>View Complaint</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <h3>Sentiment AI</h1>
        </div>
        <div class="left_part">
            <h3>Officer: {{session['username']}}</h3>
            <form action="/logout" method="post">
                <button type="submit" class="logout_btn">Logout</button>
            </form>
        </div>

    </div>
    <div class="cont">
        <h2 class="text">Id: {{getval}}</h2>
        <h3 class="text"> Type : {{case_type}}</i>
        </h3>
        <h5 class="text"> Link : {{case_proof}}</h5>
        </i>
        <div id="bodydesc" style="width:500px; height: 250px; overflow-y: scroll">

            <p id="desc" style=" float:left;color: #666666; width:700px; font-family: Candara,Trebuchet MS,sans-serif; font-size: 16px; font-weight: bold; border-right: thin dotted #666666; line-height: 18px;">

                {{case_desc}}

            </p>

        </div>
        <div class="mt-4">
            <form action="{{ url_for('test_complaint') }}" method="POST" style="display: inline;">
                <input type="hidden" name="complaint_id" value="{{ getval }}">
                <button type="submit" class="btn btn-primary">Test for Bullying</button>
            </form>
            
            <form action="{{ url_for('addcse') }}" method="POST" style="display: inline;">
                <input type="hidden" name="compres" value="{{ getval }}">
                <button type="submit" class="btn btn-success">Accept Case</button>
            </form>
            
            <form action="{{ url_for('dellcse') }}" method="POST" style="display: inline;">
                <input type="hidden" name="compres" value="{{ getval }}">
                <button type="submit" class="btn btn-danger">Reject Case</button>
            </form>
        </div>
    </div>
    </div>
</body>

</html>